{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "react", 
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "plugin:react/recommended",
    "airbnb-typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": "error",
    "no-console": "off",
    "no-async-promise-executor": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-underscore-dangle": "off"
  }
}